<!DOCTYPE html>
<html>
  <head>
    <title>Client</title>
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"></script>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>
    <script>var day = %%day%%</script>
    <script type="module" src="%%url_for('static',filename='js/sentmantle.js')%%"></script>
  </head>
  <body>
    <div id="app">
      <img src="image/%%day%%" width="400" /><br />
      <form @submit.prevent="guess">
        <input v-model="input_sentence" placeholder="Text" />
        <button>Check</button>
      </form>
      <p v-text="message"></p>
      <p>Score:</p>
      <div>
        <table>
          <thead>
            <th>Sentence</th>
            <th>Score</th>  
          </thead>
          <tr v-if="current_guess.text!=''">
            <td v-text="current_guess.text"></td>
            <td v-text="current_guess.score"></td>
          </tr>
          <tr v-if="current_guess.text!=''">
            <td colspan="2" class="divider">
              <hr />
            </td>
          </tr>
          <template v-for="guess in guesses">
            <tr v-if="guess.text != current_guess.text" :key="guess.text">
              <td v-text="guess.text"></td>
              <td v-text="guess.score"></td>
            </tr>
          </template>
        </table>
      </div>
      <p id="score"></p>
    </div>
  </body>
</html>
